<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/places'></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='deletePlace()'>
        <ion-icon name='trash-outline'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class='ion-no-padding'>
    <ion-row>
      <ion-col>
        <ion-img [src]='place.imageUrl'></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">{{place.title}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf='place.comments && place.comments.length > 0; else'>
          <ion-item *ngFor='let comment of place.comments'>
            {{ comment }}
          </ion-item>
        </ion-list>
        <ng-template #noComments>
          <ion-text>
            <ion-text>
              <p class="ion-text-cecnter">No comments yet.</p>
            </ion-text>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
