<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/places'></ion-back-button>
    </ion-buttons>
    <ion-title>
      Remote Images
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor='let photo of photos'>
    <ion-card>
      <ion-img [src]="photo.thumbnailUrl"></ion-img>
      <ion-card-content>
        <h3>{{ photo.title }}</h3>
        <p>Album {{ photo.albumId }}: <a [href]="photo.url" target="_blank">{{ photo.url }}</a></p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
